<!DOCTYPE html>
<html>
 <head>
  <title>Add student details</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 <body>
  <br />
  <div class="container">
   <h2 align="center">Student Details</h2>
   <br />
   <div class="col-md-6" style="margin:0 auto; float:none;">
    <form name="add" method="POST" action="/sdet">
     <br />
     <div class="form-group">
      <label>Student ID</label>
      <input type="number" name="id" id="id" class="form-control" placeholder="Enter Student ID" class="form-control"  />
     <div class="form-group">
      <label>Student Name</label>
      <input type="text" name="name" placeholder="Enter Student Name" id="name" class="form-control"  />
     </div>
     <div class="form-group">
       <label for="Gender">Gender:</label>
                    <select class="custom-select" name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
</div>
       <div class="form-group">
        <label>Date Of Birth</label>
        <input type="date" name="date" class="form-control" id="DOB" />
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" name="city" class="form-control" placeholder="Enter City" id="city" />
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" name="state" class="form-control" placeholder="Enter State" id="state" />
      </div>
     <div class="form-group">
      <label>Email Id</label>
      <input type="text" name="email" class="form-control" placeholder="Enter Email" id="email" />
     </div>
     <div class="form-group">
      <label>Qualification</label>
      <input type="text" name="qualification" class="form-control" placeholder="Enter Qualification" id="qualification" />
     </div>
     <div class="form-group">
      <label>Stream</label>
      <input type="text" name="stream" class="form-control" placeholder="Enter stream" id="stream"  />
    </div>
     <div class="form-group" align="center">
      <button class="btn btn-primary" type="submit" onclick="return validateForm()">Submit</button>
     </div>
    </form>
   </div>
  </div>
<script>
function validateForm() {
  var x = document.forms["add"]["id"].value;
  if (x == "") {
    alert("Id must be filled out");
    return false;
  }
  var y = document.forms["add"]["name"].value;
  if(y == "") {
      alert("Name must be filled out");
      return false;
  }
  var z = document.forms["add"]["gender"].value;
  if(z == "") {
      alert("Gender must be filled out");
      return false;
  }
  var a = document.forms["add"]["DOB"].value;
  if(a == ""){
      alert("Please enter Date of Birth")
      return false;
  }
  var b = document.forms["add"]["city"].value;
  if(b == ""){
      alert("Please give your city")
      return false;
  }
   var c = document.forms["add"]["state"].value;
  if(c == ""){
      alert("Please give your state")
      return false;
  }
  var d = document.forms["add"]["email"].value;
  if(d == ""){
      alert("Please give your state")
      return false;
  }
  var e = document.forms["add"]["qualification"].value;
  if(e == ""){
      alert("Please give your qualification")
      return false;
  }
  var f = document.forms["add"]["stream"].value;
  if(f == ""){
      alert("Please give your stream")
      return false;
  }
}
</script>
</body>
</html>


