<html>
<head>
	<title>First page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col">
				<h1>Student Data Portal</h1>
				<br>
				<div class="btn-group-vertical">
			<a href="/add" class="btn btn-primary btn-lg">Add New Student</a>
			<br>
			<a href="/search" class="btn btn-primary btn-lg" onclick="exec('python MYSCRIPT.py');">Search for a Student by Id</a>
			<br>
			<a href="/disp" class="btn btn-primary btn-lg">Display All the students</a>
		</div>
		</div>
	</div>
</div>
</body>
</html>