<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>gender</th>
      <th>date</th>
      <th>city</th>
      <th>state</th>
      <th>emailid</th>
      <th>qualification</th>
      <th>stream</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Onkar</td>
      <td>male</td>
      <td>7/31/2020</td>
      <td>Mumbai</td>
      <td>Maharashtra</td>
      <td>onkar@gmail.com</td>
      <td>B.E.</td>
      <td>COMP</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Sohan</td>
      <td>male</td>
      <td>7/29/2020</td>
      <td>Mumbai</td>
      <td>Maharashtra</td>
      <td>sohan@gmail.com</td>
      <td>B.E.</td>
      <td>COMP</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Priti</td>
      <td>male</td>
      <td>10/13/2009</td>
      <td>Bengaluru</td>
      <td>Karnataka</td>
      <td>priti@gmail.com</td>
      <td>B.Tech</td>
      <td>EXTC</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Amruta</td>
      <td>female</td>
      <td>6/26/2014</td>
      <td>Nagpur</td>
      <td>Maharashtra</td>
      <td>amruta@gmail.com</td>
      <td>B.Tech</td>
      <td>IT</td>
    </tr>
  </tbody>
</table>